<h1>Movie Plans</h1>

<ul>
  {{#each moviePlans}}
  <li>
    <p>
      {{this.id}}. {{this.moviePlans}}

      <button data-moviePlansid="{{this.id}}" class="delplan">Delete moviePlans!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a Plan</h2>
<form id="createplan" class="button-size">
  <textarea type="text" name="plan"></textarea>
  <button type="submit">Save Movie Plan!</button>
</form>

<h2>Update a Plan</h2>
<form id="updateplan" class="button-size">
  <select name="id">
		{{#each moviePlans}}
			<option value="{{this.id}}">{{this.moviePlans}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="plan" placeholder="plan"></textarea>
  <button type="submit">Update Movie Plan!</button>
</form>

<script type="text/javascript">
  $(".delmoviePlans").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    var id = $(this).data("moviePlansid");

    // Send the DELETE request.
    $.ajax("/api/moviePlans/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createplan").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=plan] will find an element with a "name" attribute equal to the string "plan"
    var newMoviePlans = {
      moviePlans: $("#createplan [name=moviePlans]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/moviePlans", {
      type: "POST",
      data: newMoviePlans
    }).then(
      function() {
        console.log("created new movie plan");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updatemoviePlans").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // Get the ID by finding an element with a "name" attribute equal to the string "id"
    var id = $("[name=id]").val().trim();

    var updatedmoviePlans = {
      moviePlans: $("#updateplan [name=plan]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/moviePlans/" + id, {
      type: "PUT",
      data: updatedPlan
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
